<div class="w-full min-h-screen">
    <header class="bg-surface-400 dark:bg-surface-600 flex w-full h-[4rem]">
        <div class="w-full h-full flex flex-row justify-between pr-2 py-2 pl-0">
            <a [routerLink]="['/dashboard']" class="flex justify-center items-center w-1/12 px-1 py-0">
                <img class="object-contain w-full h-full" src="assets/images/logo.png" alt="B-next logo">
            </a>
            <div class="w-7/12 h-full flex flex-row items-center justify-start">
                <p-menubar [model]="mainMenuOptions" styleClass="h-[2.8rem] bg-surface-100 dark:bg-surface-800" [style]="{ display: 'flex' }">
                    <ng-template pTemplate="item" let-item let-root="root">
                        <a [routerLink]="item.routerLink" pRipple class="flex items-center p-menubar-item-link">
                            <span *ngIf="item.icon" [class]="item.icon"></span>
                            <span *ngIf="item.label" class="ml-2">{{ item.label }}</span>
                        </a>
                    </ng-template>
                </p-menubar>
            </div>
            <div class="flex justify-end items-center w-4/12 py-3">
                <div class="flex items-center mr-4">
                        <i style="font-size: 2rem" class="pi pi-search mr-2 text-surface-600 dark:text-white"></i>
                        <input type="text" placeholder="Type to search" pInputText class="rounded-full w-[14rem] h-[2rem] px-3 dark:bg-surface-800 dark:text-white" />
                </div>
                <i class="pi pi-bell mr-5 text-surface-600 dark:text-white" pBadge style="font-size: 2rem" value="2"></i>
                <p-splitButton 
                    [label]="tenant"
                    icon="pi pi-sitemap" 
                    [model]="tenantOptions" appendTo="body" 
                    styleClass="mr-5"
                    [severity]="'secondary'"  
                     />
                <p-avatar icon="pi pi-user" size="large" shape="circle" styleClass="bg-primary-100" />
                <p-splitButton 
                    [label]="userName" 
                    [model]="userMenu" appendTo="body" 
                    styleClass="ml-2 "
                    [severity]="'secondary'"  
                    
                    (onClick)="toggleUserSettings()" />
                <p-dialog header="Edit Preferences" [style]="{ 'width': '26rem' }" styleClass="bg-surface-50" [draggable]="false"
                    [resizable]="false" [(visible)]="showPalette" appendTo="body" [position]="'topright'">
                    <div class="flex flex-col gap-4 w-[22rem]">
                        <div class="w-full">
                            <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">
                                Theme presets
                            </span>
                            <div class="flex w-full">
                                <p-selectButton [options]="themeOptions" [(ngModel)]="currentTheme" optionsLabel="label"
                                    optionsValue="value" (onChange)="handleSelectPreset($event)" />
                                <div class="ml-4 flex justify-center items-center">
                                    <span class="pi pi-sun mr-2 pb-1 text-amber-200"></span>
                                    <p-toggleSwitch [(ngModel)]="darkMode" (onChange)="toggleDarkTheme($event)" />
                                    <span class="pi pi-moon ml-2 pb-1"></span>
                                </div>
                            </div>
                            <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2 mt-2">
                                Primary color
                            </span>
                            <div class="w-full flex flex-row flex-wrap">
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentPrimary === 'emerald'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-emerald-400" (click)="changePrimaryColor('emerald')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentPrimary === 'green'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-green-400" (click)="changePrimaryColor('green')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentPrimary === 'orange'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-orange-400" (click)="changePrimaryColor('orange')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentPrimary === 'amber'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-amber-400" (click)="changePrimaryColor('amber')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentPrimary === 'teal'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-teal-400" (click)="changePrimaryColor('teal')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentPrimary === 'cyan'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-cyan-400" (click)="changePrimaryColor('cyan')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentPrimary === 'blue'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-blue-400" (click)="changePrimaryColor('blue')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentPrimary === 'fuchsia'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-fuchsia-400" (click)="changePrimaryColor('fuchsia')">
                                </button>
                            </div>
                            <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2 mt-2">
                                Surface color
                            </span>
                            <div class="w-full flex flex-row flex-wrap">
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentSurface === 'slate'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-slate-400" (click)="changeSurface('slate')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentSurface === 'zinc'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-zinc-400" (click)="changeSurface('zinc')">
                                </button>
                                <button type="button"
                                    [ngClass]="{'shadow-md shadow-current': currentSurface === 'neutral'}"
                                    style="width:1rem; height:1rem; margin: 0.45rem; display: flex; border-radius: 50%; border: 1px solid black"
                                    class="bg-neutral-400" (click)="changeSurface('neutral')">
                                </button>
                            </div>
                        </div>
                    </div>
                </p-dialog>
                <p-dialog header="Header" [style]="{ 'width': '25rem' }" [draggable]="false" [resizable]="false"
                    [(visible)]="showProfile" appendTo="body" [position]="'topright'">
                    <ng-template pTemplate="header">
                        <div class="inline-flex items-center justify-center gap-2">
                            <p-avatar icon="pi pi-user" shape="circle" />
                            <span class="font-bold whitespace-nowrap">
                                {{userName}}
                            </span>
                        </div>
                    </ng-template>
                    <span class="p-text-secondary block mb-8">Update your information.</span>
                    <div class="flex items-center gap-4 mb-4">
                        <label for="username" class="font-semibold w-24">
                            Username
                        </label>
                        <input pInputText id="username" [(ngModel)]="userName" class="flex-auto" autocomplete="off" />
                    </div>
                    <div class="flex items-center gap-4 mb-8">
                        <label for="email" class="font-semibold w-24">Email</label>
                        <input pInputText id="email" [(ngModel)]="userEmail" class="flex-auto" autocomplete="off" />
                    </div>
                    <ng-template pTemplate="footer">
                        <p-button label="Cancel" [text]="true" severity="secondary" (click)="clear()" />
                        <p-button label="Save" [outlined]="true" severity="primary" (click)="showProfile = false" />
                    </ng-template>

                </p-dialog>
            </div>
        </div>
    </header>
    <main class="w-full grid grid-cols-24 grid-rows-12 gap-0 min-h-[calc(100vh-4rem)]">
        <aside [ngClass]="{ 'col-span-2' : !sidebarMinimized, 'col-span-1': sidebarMinimized}"
            class="main-aside flex flex-col items-center row-span-12 row-start-1 col-start-1">
            <div class="w-full h-full px-2 pt-2 bg-surface-400 dark:bg-surface-600  flex flex-col items-center justify-between">
                <div class="w-full flex flex-col items-center ">
                    <ul class="p-2 w-full flex flex-col mb-2">
                        <li class="w-full pl-3">
                            <a role="button" class="text-white  dark:text-surface-900 w-full flex items-center justify-start" (click)="minimizeSidebar()">
                               <span *ngIf="!sidebarMinimized" class="pi pi-arrow-circle-left" style="font-size: 2rem;"></span>
                               <span *ngIf="sidebarMinimized" class="pi pi-arrow-circle-right" style="font-size: 2rem;"></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="p-2 w-full flex flex-col mb-2">
                        <li *ngFor="let menuItem of sidebarMenu; let idx = index" class="py-3 w-full flex flex-row  justify-center items-center">
                            <a role="button" [ngClass]="{'justify-start':!sidebarMinimized, 'justify-center':sidebarMinimized}"
                                class="h-[2rem] min-w-[3rem] rounded-md flex w-full flex-row  items-center
                                 text-white dark:text-surface-900 transition ease-in-out  hover:-translate-y-1 
                                 hover:scale-110 before:duration-150 hover:border-surface-50 hover:border px-2" 
                                 (click)="openMenu($event, idx, menuItem?.items);" >
                                <span *ngIf="menuItem.icon" [class]="menuItem.icon"></span>
                                <span *ngIf="!sidebarMinimized" class="ml-2">{{menuItem.label}}</span>
                            </a>
                            <p-menu [model]="dynamicMenu" [popup]="true" appendTo="body" id="{{idx}}"></p-menu>
                        </li>
                    </ul>
                    
                    <p-divider type="solid" layout="horizontal" styleClass="border-surface-50 py-2 mx-3"/>
                </div>
                <footer class="flex flex-col px-2 pb-6 pt-2 w-full self-end">
                    <a role="button" [ngClass]="{'justify-start': !sidebarMinimized, 'justify-center': sidebarMinimized}" 
                        class="h-[2rem] min-w-[3rem] rounded-md flex w-full flex-row  items-center
                        text-white dark:text-surface-50 transition ease-in-out  hover:-translate-y-1 
                        hover:scale-110 before:duration-150 hover:border-surface-50 hover:border px-2 mb-6">
                        <span class="pi pi-sign-out"></span>
                        <span *ngIf="!sidebarMinimized" class="pl-3">Sign out</span>
                    </a>
                    <a role="button" [ngClass]="{'justify-start': !sidebarMinimized, 'justify-center': sidebarMinimized}"
                        class="text-white dark:text-surface-50 w-full flex items-center justify-start text-sm">
                        <span class="pi pi-globe pr-2"></span>
                        <span *ngIf="!sidebarMinimized">{{currentDate | date:'shortDate'}}CMC:eSuite8.0.0</span>
                    </a>
                </footer>
            </div>
        </aside>
        <section [ngClass]="{'col-start-3 col-span-22 transition-width duration-700 delay-150': !sidebarMinimized, 'col-start-2 col-span-23 transition-width duration-700 delay-150': sidebarMinimized}"
            class="row-start-1 row-span-12 bg-surface-50 dark:bg-surface-800">
            <router-outlet>
            </router-outlet>
        </section>
    </main>
</div>